body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.products-images {
  padding:8px;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.icon-effect {
  filter: blur(0.1px);
  border-radius: 10px;
  height: 60%;
  width: 60%;
  margin: -10px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/images/fundo2.png');
  min-height: 100%;
}

/* MELI34 image (Products) */
.bgimg-mli34 {
  background-image: url("/images/MELI34.png");
  min-height: 100px;
}

.logo {
  height: 300pt;
  width: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/images/parallax2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}