body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

.products-images {
  padding:8px;
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.icon-effect {
  filter: blur(0.1px);
  border-radius: 10px;
  height: 60%;
  width: 60%;
  margin: -10px;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-logo, .bgimg-finance, .bgimg-html, .bgimg-css, .bgimg-js {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-logo {
  background-image: url('https://douglasdl.github.io/P5/images/fundo2.png');
  min-height: 100%;
}


.bgimg-finance {
  background-image: url('https://douglasdl.github.io/images/finance.png');
  min-height: 400px;
  margin-bottom: 2rem;
}

/* HTML, CSS, JS image (Documentation) */
.bgimg-html {
  background-image: url("https://douglasdl.github.io/images/html.png");
  min-height: 100px;
  margin-bottom: 2rem;
}

.bgimg-css {
  background-image: url("https://douglasdl.github.io/images/css.png");
  min-height: 100px;
  margin-bottom: 2rem;
}

.bgimg-js {
  background-image: url("https://douglasdl.github.io/images/js.png");
  min-height: 100px;
  margin-bottom: 2rem;
}

.logo {
  height: 300pt;
  width: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("https://douglasdl.github.io/P5/images/parallax2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("https://douglasdl.github.io/P5/images/parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}



/* Search Menu */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}






/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-finance, .bgimg-html, .bgimg-css, .bgimg-js {
    background-attachment: scroll;
    min-height: 400px;
  }
}